<div class="weui-tab__bd" ng-controller="DeviceController">

    <header class="demos-header" style="padding-bottom: 15px;">
        <h1 class="demos-title">设备管理</h1>
    </header>


    <div class="weui-tab">    
        <div class="weui-cells" style="margin-bottom:10px;">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p>homebridge运行状态</p>
              </div>
              <div class="weui-cell__ft">{{runningShow}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                  <p>8位代码</p>
                </div>
                <div class="weui-cell__ft">{{pinCode}}</div>
              </div>
            <!-- <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                  <p>查看二维码</p>
                </div>
                <div class="weui-cell__ft">
                </div>
            </a>-->
        </div>

        <div class="weui-grids">
            <a href="" class="weui-grid js_grid" ng-click="rebootHB()">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_button.png" alt="">
              </div>
              <p class="weui-grid__label">
                重启网桥
              </p>
            </a>
            <a href="" class="weui-grid js_grid" ng-click="delCache()">
              <div class="weui-grid__icon">
                <img src="images/icon_nav_cell.png" alt="">
              </div>
              <p class="weui-grid__label">
                删除缓存
              </p>
            </a>
            <a href="" class="weui-grid js_grid" ng-click="reboot()">
                <div class="weui-grid__icon">
                  <img src="images/icon_nav_panel.png" alt="">
                </div>
                <p class="weui-grid__label">
                  重启设备
                </p>
              </a>
              <a href="" class="weui-grid js_grid" ng-click="frpc()">
                  <div class="weui-grid__icon">
                    <img src="images/icon_nav_panel.png" alt="">
                  </div>
                  <p class="weui-grid__label">
                    远程协助
                  </p>
                </a>
          </div>

          
    </div>

    <div class="weui-footer weui-footer_fixed-bottom" style="bottom: 4.52em;">
            <p class="weui-footer__links">
              <a href="javascript:void(0);" class="weui-footer__link">易慧智家</a>
            </p>
            <p class="weui-footer__text">Copyright © 2015-2018 mivis.cn</p>
    </div>
</div>